@inherits LayoutComponentBase
@inject NavigationManager Navigation

<main class="container">
    <header class="site-header">
        <div @onclick="NavigateHome" class="title" style="cursor: pointer;"><h1>Nanobin</h1></div><span class="site-subtitle">A minimalistic pastebin service</span>
    </header>
    <div class="main-content">
        @Body
    </div>
</main>

@code
{
   private void NavigateHome() => Navigation.NavigateTo("/"); 
}