.viewPaste {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.error {
    color: #dc3545;
    margin: 1rem 0;
    font-family: monospace;
}

.pasteMetadata {
    font-size: 0.6rem;
    color: #b0b0b0;
    margin-bottom: 10px;
}

.pasteContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.pre {
    margin-top: 0;
    height: 100%;
}

.decryptedContent {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    user-select: text;
    color: #6c757d;
    min-height: 0;
    padding: 0 !important;
    background-color: transparent !important;
    display: block;
    white-space: pre-wrap;
    word-break: break-word;
}
