.createPaste {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.editorContainer {
    flex-grow: 1;
    margin: 0.5rem 0;
    z-index: 0;
}

.pasteInput {
    display: block;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    background-color: inherit;
    color: #6c757d;
    margin: 0;
    padding: 0;
}

.pasteInput:focus {
    outline: none;
}

.createButton {
    border-radius: 4px;
    padding: 0.75rem 1rem;
    background: linear-gradient(
            90deg,
            rgba(74, 197, 249, 1) 0%,
            rgba(30, 161, 217, 1) 50%,
            rgba(13, 158, 220, 1) 100%
    );
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    min-width: 150px;
    z-index: 1;
    position: absolute;
    bottom: 1.22rem;
    right: 1.2rem;
}
