.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 1rem;

    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    color-scheme: light dark;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.siteHeader {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #b0b0b0;
    height: 30px;
    flex-shrink: 0;
    gap: 0.3rem;
}

.siteHeader > :last-child {
    margin-left: auto;
}

.title {
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
    color: #b0b0b0;
    cursor: pointer;
}

.subtitle {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    color: #666;
}

.rawButton {
    font-size: 0.8rem;
    color: #b0b0b0;
}

.mainContent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
}

.tools {
    margin-bottom: 0.2rem;
}