@page "/"
@inject PasteService PasteService
@inject NavigationManager Navigation
@inject ILogger<Index> Logger

<div class="create-paste">
    <div class="editor-container">
        <textarea @ref="PasteArea" class="paste-input" placeholder="Enter your text here..." @bind="_pasteContent"></textarea>
    </div>
    <button @onclick="SubmitAsync" class="create-button">Create Paste</button>
</div>

@code {
    private string _pasteContent = string.Empty;
    private ElementReference PasteArea { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        try
        {
            // Fix for autofocus not working in blazor apps
            await PasteArea.FocusAsync();
        }
        catch (JSException e)
        {
            Logger.LogError(e, "Error focusing textarea");
        }
    }

    private async Task SubmitAsync()
    {
        if (string.IsNullOrWhiteSpace(_pasteContent))
        {
            Logger.LogWarning("Attempt to submit empty paste content");
            return;
        }

        try
        {
            var pasteId = await PasteService.CreatePasteAsync(_pasteContent);
            Logger.LogInformation("Created new paste with ID {PasteId}", pasteId);
            Navigation.NavigateTo($"/{pasteId}");
        }
        catch (IOException e)
        {
            Logger.LogError(e, "Error creating paste");
        }
    }
}