@page "/{Id}"
@inject PasteService PasteService
@inject IJSRuntime JsRuntime
@implements IAsyncDisposable

@if (_paste == null)
{
    <div class="error">Paste not found</div>
}
else
{
    <div class="paste-container">
        <pre><code class="highlighted-code">@_paste.Content</code></pre>
        <div class="paste-metadata">Created: @_paste.GetFormattedTimestamp()</div>
    </div>
}

@code {
    [Parameter]
    public string? Id { get; set; }

    private Paste? _paste;
    private IJSObjectReference? _selectAllIntercept;

    protected override async Task OnInitializedAsync()
    {
        if (Id == null) return;
        
        try
        {
            _paste = await PasteService.GetPasteAsync(Id);
        }
        catch (IOException e)
        {
            _paste = null;
            await Console.Error.WriteLineAsync(e.Message);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        if (_paste is null)
        {
            await Console.Error.WriteLineAsync("Paste was null, aborting render.");
            return;
        }

        try
        {
            await JsRuntime.InvokeVoidAsync("hljs.highlightAll");

            _selectAllIntercept = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/ViewPaste.razor.js");
            await _selectAllIntercept.InvokeVoidAsync("handlePasteSelection");
        }
        catch (JSException e)
        {
            await Console.Error.WriteLineAsync("JavaScript interop error: " + e.Message);
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (_selectAllIntercept is not null)
        {
            await _selectAllIntercept.DisposeAsync();
        }
    }
}
