@page "/{Id}"
@inject PasteService PasteService
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

@if (_paste == null)
{
    <div class="error">Paste not found</div>
}
else
{
    <div class="paste-container">
        <pre><code class="highlighted-code">@_paste.Content</code></pre>
        <div class="paste-metadata">Created: @_paste.GetFormattedTimestamp()</div>
    </div>
}

@code {
    [Parameter]
    public string? Id { get; set; }

    private Paste? _paste;
    private IJSObjectReference? _selectAllIntercept;

    protected override void OnInitialized()
    {
        if (Id != null)
        {
            _paste = PasteService.GetPaste(Id);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _paste != null)
        {
            // await JSRuntime.InvokeVoidAsync("hljs.configure", new{cssSelector = "pre code"});
            await JSRuntime.InvokeVoidAsync("hljs.highlightAll");

            _selectAllIntercept = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/ViewPaste.razor.js");
            await _selectAllIntercept.InvokeVoidAsync("handlePasteSelection");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (_selectAllIntercept is not null)
        {
            await _selectAllIntercept.DisposeAsync();
        }
    }
}
